html{
    text-align: center;
    background-color: rgb(189, 228, 208);
    margin: 0;
    padding-top: 0;
}
#resultado{
    border: 2px solid black;
    height: 50%;
    width: 50%;
    display: inline-block;
    padding: 10px;
    overflow: auto;
    margin: 5%;
}

table{
table-layout: fixed;
border: 2px solid black;
}
td{
    width: 25%;
    padding: 5%;
    overflow: auto;
    border: 2px solid black;
}
tr{
    border: 2px solid black;
    height: 75%;
    width: 75%;
    }